{% extends 'projekt/base.html' %}
{% block content %}
<div class="content">

    <div class="table-content">

    <table>
        <tr>
            <th>Lp.</th>
            <th>Branża</th>
            <th>Wakat</th>
            <th>Lokalizacja</th>
            <th>Zarobki</th>
            <th>Data utworzenia</th>
        </tr>
        {% if queryset %}
            {% for instance in queryset %}
                    {% if instance.user_id == request.session.active_user_pk and request.session.input == "firma" %}
                <tr class="div_hover" style="background-color:#FF8989">
                    <td> {{forloop.counter }}</td>
                    <td><a href="{% url 'oferta_detail' pk=instance.pk %}">{{ instance.branza }}</a> </td>
                    <td>{{ instance.wakat }} </td>
                    <td>{{ instance.lokalizacja }} </td>
                    <td> {{instance.wynagrodzenie }}</td>
                    <td>{{ instance.data_utworzenia.date }}</td>
                </tr>
            {% else %}
                <tr class="div_hover">
                    <td> {{forloop.counter }}</td>
                    <td><a href="{% url 'oferta_detail' pk=instance.pk %}">{{ instance.branza }}</a> </td>
                    <td>{{ instance.wakat }} </td>
                    <td>{{ instance.lokalizacja }} </td>
                    <td> {{instance.wynagrodzenie }}</td>
                    <td>{{ instance.data_utworzenia.date }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
    </table>
    </div>
</div>

<div id="right-bar">
    <div class="filtr" >Filtrowanie</div>
    <li><a href="{% url 'oferta_list_filter_branza' %}">Branża</a></li>
    <li><a href="{% url 'oferta_list_filter_wakat' %}">Wakat</a></li>
    <li><a href="{% url 'oferta_list_filter_lokalizacja' %}">Lokalizacja</a></li>
    <li><a href="{% url 'oferta_list_filter_wynagrodzenie' %}">Wynagrodzenie</a></li>

</div>
{% endblock %}