{% extends 'projekt/base.html' %}
{% block content %}

    <div class="content_title">Aplikanci</div>

    <div class="table-content">

    <table>
        <tr>
            <th>Imie</th>
            <th>Wykształcenie</th>
            <th>Pochodzenie</th>
            <th>Wiek</th>
        </tr>
        {% for a in aplikant %}

        {% if request.user.is_authenticated %}
            {% if a.imie == request.session.username %}
                <tr class="div_hover" style="background-color:#FF8989">
            {% endif %}
        {% else %}
                <tr class="div_hover">
        {% endif %}
            <td><a href="{% url 'aplikant_detail' pk=a.pk %}">{{ a.imie }}</a> </td>
            <td> {{a.wyksztalcenie }}</td>
            <td> {{a.pochodzenie }}</td>
            <td>{{ a.wiek }} </td>
        </tr>
        {% endfor %}
    </table>

        </div>
{% endblock %}