{% extends 'projekt/base.html' %}

{% block content %}
    <div class="content">

    <div class="content_title">Aplikanci</div>

    <div class="table-content">

    <table>
        <tr>
            <th>Imie</th>
            <th>Wykształcenie</th>
            <th>Pochodzenie</th>
            <th>Wiek</th>
        </tr>
        {% for a in aplikant %}
        <tr class="div_hover">
            <td><a href="{% url 'aplikant_detail' pk=a.pk %}">{{ a.imie }}</a> </td>
            <td> {{a.wyksztalcenie }}</td>
            <td> {{a.pochodzenie }}</td>
            <td>{{ a.wiek }} </td>
        </tr>
        {% endfor %}
    </table>

        </div>
    </div>

    <div id="right-bar">
        <div class="filtr" >Filtrowanie</div>
    </div>
{% endblock %}