{% extends 'projekt/base.html' %}
{% block content %}
<div class="content">
<h1>{{title}}</h1>
<br>
        <div class="register-content">
            {% for instance in instances %}

            <h4><div style="float:left;margin-left:10px">{{ instance.wakat }}</div></h4>
                {% if instance.cvk.cv %}
               <div ><h4 ><a href="{{ instance.cvk.cv.url }}">
                {% endif %}
                {% csrf_token %}
                {{ instance.cvk.cv.name }}
               </a></h4>
                </div>
            {% endfor %}
        </div>
    <div style="clear:both"></div>
</div>
{% endblock %}