<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RSWTA-Projekt</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="{% static 'css/projekt.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
</head>
<body>

<div id="container">
    <div style="clear:both;"></div>
    <div class="page-header">
        {% if request.user.is_authenticated %}
        <h1>RSWTA-Projekt Witaj {{ request.session.name }}</h1>
        {% else %}
        <h1>RSWTA-Projekt Witaj </h1>
        {% endif %}
    </div>
    <div style="float:left;"></div>

    <div id="menu">
        <ul>
        <li><a class="active" href="/">Home</a></li>
          <li><a href="{% url 'firma_list' %}">Firmy</a></li>
          <li><a href="{% url 'oferta_list' %}">Oferty</a></li>
          <li><a href="{% url 'aplikant_list' %}">Aplikanci</a></li>
            {% if not request.user.is_authenticated %}
          <li><a href="{% url 'login'%}">Zaloguj</a></li>
          <li><a href="{% url 'register' %}">Rejestracja</a></li>
            {% else %}
          <li><a href="{% url 'logout' %}">Wyloguj</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    {% include 'projekt/filter.html' %}

    <div style="clear:both;"></div>

</div>

</body>
</html>