<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RSWTA-Projekt</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/projekt.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">



<body>
<div id="container">
    <div style="clear:both;"></div>
    <div class="page-header">
        {% if request.user.is_authenticated and request.session.input == 'aplikant'%}
        <h1>RSWTA-Projekt Witaj {{ request.session.username }} - 'Aplikant'</h1>
        {% elif request.user.is_authenticated and request.session.input == 'firma'%}
        <h1>RSWTA-Projekt Witaj {{ request.session.username }} - 'Firma'</h1>
        {% else %}
        <h1>RSWTA-Projekt</h1>
        {% endif %}
    </div>
    <div style="float:left;"></div>

    <div id="menu">
        <ul>
        <li><a class="active" href="/">Home</a></li>
          <li><a href="{% url 'firma_list' %}">Firmy</a></li>
          <li><a href="{% url 'oferta_list' %}">Oferty</a></li>
           <li><a href="{% url 'aplikant_list' %}">Aplikanci</a></li>
            <div class="border"></div>
            {% if not request.user.is_authenticated %}
          <li><a href="{% url 'login'%}">Zaloguj</a></li>
          <li><a href="{% url 'register' %}">Rejestracja</a></li>
            {% else %}
          <li><a href="{% url 'logout' %}">Wyloguj</a></li>
          <li><a href="{% url 'account_update' pk=request.session.active_user_pk %}">Ustawienia</a></li>
                {% if request.session.input == "aplikant" and request.session.is_aplikant == 1%}

                <li><a href="{% url 'upload_cv' %}">Dodaj CV</a></li>
                {% endif %}

                {% if request.session.input == "firma" %}
                <li><a href="{% url 'add_oferta' %}">Dodaj Oferte</a></li>
                <li><a href="{% url 'edit_oferts' pk=request.session.active_user_pk %}">Twoje Oferty</a></li>
                <li><a href="{% url 'show_aplications' %}">Złożone Aplikacje</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
        {% block content %}
        {% endblock %}

    <div style="clear:both;"></div>
</div>

</body>
</html>
