{% extends 'projekt/base.html' %}

{% block content %}
<div class="content">

    <div class="content_title">Firma</div>

        <div class="table-content">
        <table>
            <tr>
                <th>Nazwa Firmy</th>
                <th>Lokalizacja</th>
                <th>Ulica</th>
                <th>Telefon</th>
            </tr>
            {% for f in firma %}
            {% if f.user_id == request.session.active_user_pk and request.session.input == "firma" %}
            <tr class="div_hover" style="background-color:#FF8989">
                <td><a href="{% url 'firma_detail' pk=f.pk %}">{{ f.nazwa_firmy }}</a> </td>
                <td>{{ f.miasto }} </td>
                <td> {{f.ulica }}</td>
                <td>{{ f.telefon }}</td>
            </tr>
            {% else %}
            <tr class="div_hover">
                <td><a href="{% url 'firma_detail' pk=f.pk %}">{{ f.nazwa_firmy }}</a> </td>
                <td>{{ f.miasto }} </td>
                <td> {{f.ulica }}</td>
                <td>{{ f.telefon }}</td>
            </tr>
            {% endif %}

            {% endfor %}
        {% endif %}
    </table>

    </div>
</div>

<div id="right-bar">
    <div class="filtr">Filtrowanie</div>
    <li><a href="{% url 'firma_list_filter_nazwa_firmy' %}">Nazwa Firmy</a></li>
    <li><a href="{% url 'firma_list_filter_miasto' %}">Miasto</a></li>
</div>
{% endblock %}