{% extends 'projekt/base.html' %}
{% block content %}
<div class="content">
    <div class="register-content">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'projekt/form-template.html' %}

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-succes">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}