{% extends 'projekt/base.html' %}
{% block content %}
<div class="content">

    <div class="content_title">Aplikanci</div>

    <div class="table-content">

    <table>
        <tr>
            <th>Lp.</th>
            <th>Imie</th>
            <th>Wykształcenie</th>
            <th>Pochodzenie</th>
            <th>Wiek</th>
        </tr>
        {% if queryset %}
            {% for instance in queryset %}
                {% if instance.imie == request.session.username %}
                <tr class="div_hover" style="background-color:#FF8989">
                     <td> {{forloop.counter }}</td>
                     <td><a href="{% url 'aplikant_detail' pk=instance.pk %}">{{ instance.imie }}</a> </td>
                     <td> {{instance.wyksztalcenie }}</td>
                     <td> {{instance.pochodzenie }}</td>
                     <td>{{ instance.wiek }} </td>
                </tr>
            {% else %}
                <tr class="div_hover">
                    <td> {{forloop.counter }}</td>
                    <td><a href="{% url 'aplikant_detail' pk=instance.pk %}">{{ instance.imie }}</a> </td>
                    <td> {{instance.wyksztalcenie }}</td>
                    <td> {{instance.pochodzenie }}</td>
                    <td>{{ instance.wiek }} </td>
                </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
    </table>
    </div>
</div>

<div id="right-bar">
    <div class="filtr" >Filtrowanie</div>
    <li><a href="{% url 'aplikant_list_filter_imie' %}">Imie</a></li>
    <li><a href="{% url 'aplikant_list_filter_wiek' %}">Wiek</a></li>
    <li><a href="{% url 'aplikant_list_filter_wyksztalcenie' %}">Wyksztalcenie</a></li>
</div>
{% endblock %}